* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-width: 1000px;
    --content-lf-padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    min-height: 100%;
    padding-top: 70px;
}

main {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

nav {
    border-bottom: 1px solid rgb(232, 232, 232);
    width: 100%;
    height: 70px;
    background-color: #f8f8f8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

ul {
    width: var(--content-width);
    padding: 0 var(--content-lf-padding);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li {
    list-style: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 460px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

article {
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

h2 {
    font-weight: 500;
    font-size: 16px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: var(--content-width);
    padding: 20px var(--content-lf-padding);
    margin: 0 auto;
    gap: 30px;
}

aside{
    position: sticky;
    top: 90px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    height: 300px;
}

.todo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

fieldset{
    display: flex;
    flex-flow: row;
    border: none;
    margin-bottom: 10px;
}
fieldset div{
    display: flex;
    margin-right: 20px;
    gap: 5px;
}
fieldset div label{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    left: -132px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
}
.dropdown-content a i {
    margin-right: 10px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v143/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 5px;
    }
    aside{
        display: none;
    }
    
}